@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  html,
  body,
  #root {
    background-color: #faf9f7;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: "Poppins", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img,
  video {
    max-width: 100%;
  }
}

.paginacao-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sobre {
  height: auto;
  overflow-y: auto;
  scrollbar-color: #6c5ce7 #f1f1f1;
  scrollbar-width: thin;
}

.code {
  font-family: "Poppins", sans-serif !important;
}

.Carousel {
  width: min(100%, 75rem);
  margin-top: 6rem;
}

.footer,
.footer > div {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.login-page {
  font-family: "Arial", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

.custom-scrollbar {
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
  scrollbar-width: thin;
}
